html,body,#container {
	padding: 0px;
	border: 0px solid #000000;
	margin: auto;

	width: 100%;
	height: 100%;
	
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	
	text-align: center;
	background-color: #ffffff;
}

#footer {
	/*position:absolute;*/
	width: 100%;
	height: 25px;
	text-align: center;
	border: solid black;
	border-width: 1px 0 0 0;
/*	color: #000000;
	border: solid black;
	border-width: 1px 0 0 0;
	margin-bottom: 0px;
	text-align: center;
	clear: both;*/
}

img{
	border:0px;
}

a:link {
	color: #5eb2c1;
	text-decoration: none;
}

a:visited {
	color: #5eb2c1;
	text-decoration: none;
}

a:hover {
	color: #557b82;
	text-decoration: underline;
}

ul {
	list-style: none;
}

li {
	border: 0px solid #000;
	width: 80%;
}

span {
	border: 0px solid #005AA7;
}

.line {
	width: 80%;
	height: 2px;
	//background-color: Blue;
	margin-top: 10px;
}

.display {
	display: table;
	overflow: hidden;
	//position: relative;
	width: 100%;
	height: 100%;
	color: #005AA7;
}

table,tr td,tr th {
	border: 1px #000 solid;
	border: 0;
	border-collapse: collapse;
	padding: 2px;
	text-align: left;
	word-break: keep-all;
	nowrap;
}

table {
	/*width: 597px;*/
	/*min-width: 597px;*/
	margin: auto;
}

thead th {
	background-color: #d3eaef;
}

caption,tfoot td,tfoot th, thead td{
	background-color: #c8d6ff;
}

tbody /*tbody td,tbody th*/ {
	margin: 2px 0 2px 0;
	text-align: left;
	width: 25px;
}

caption {
	color: #2b6ee7;
}

tfoot td {
	text-align: center;
}
tfoot tr td {
	width: 800px;
}

/*
caption,tfoot {
	display: none;
}
*/