html,body {
width:100%;
height:100%;
font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
font-size:12px;
margin:0px;
padding:0px;
text-align:center;
background-color:#FFFFFF;
}
#header,#fonter,#container{
margin:0px auto;
width:85%;
background-color:#FFFFFF;
}

#header{
text-align:left;
background-color:#ffffff;
/*background-image:url(images/29x2.jpg);*/
margin-bottom:20px;*margin-bottom:10px;
width:85%;
}


#left{
float:left;
width:20%;
text-align:center;
background-color:#FFFFFF;
}

.news{
margin-left:10%;*margin-left:5%;
margin-top:20px;*margin-top:10px;
margin-bottom:20px;*margin-bottom:10px;
padding:0px;
border:1px solid #005AA7;
width:80%;*width:90%;
clear:both;
}

#content{
float:left;
width:60%;
background-color:#FFFFFF;
}
#right{
float:right;
width:19.9%;
text-align:center;
background-color:#FFFFFF;
}
#fonter{
border-top:1px solid #005AA7;
clear:both;
text-align:center;
}

.left{
width:20%;
height:100%;
margin:0px auto;
padding:0px;
text-align:center;
background-color:#FFFFFF;
float:left;
/*position:static  relative absolute
left:0px;
top:0px;*/
display:block; /* inline none*/
}
.right{
width:80%;
height:100%;
margin:0px auto;
padding:0px;
text-align:center;
background-color:#FFFFFF;
float:right;
}
.clear{
margin:0px;
padding:0px;
border:0px;
clear:both;/* left right*/
}
.text {
color:#005AA7;
border-top:0px;
border-bottom:1px solid #005AA7;
border-left:0px;
border-right:0px;
background-color:transparent;
width:40%;
}
.submit,.button {
background-color:transparent;
border:0px;
color:#005AA7;
margin:0px;
padding:0px;
height:14px;
}

a:link {
color:#5eb2c1;
text-decoration:none;
}
a:visited {
color:#5eb2c1;
text-decoration:none;
}
a:hover {
color:#557b82;
text-decoration:underline;
}

ul {
margin:0px;
padding:0px;
border:0px;
list-style:none;
}

li {
margin:0px;
padding:0px;
border:0px;
}
