
html, body {
width:100%;
height:100%;
font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
font-size:14px;
padding:0px;
text-align:center;
background-color:#FFFFFF;

}
#header,#fonter,#container{
margin:0px auto;
width:86%;
background-color:#FFFFFF;
}

#header{
height:40px;
text-align:left;
background-color: #d1ddf8;
}

#left{
float:left;
width:16%;
text-align:center;
background-color:#7190e0;
}

#content{
float:right;
width:84%;
background-color:#ffffff;
overflow:hidden;
}

#fonter{
border-top:1px solid #005AA7;
clear:both;
text-align:center;
background: #215DC6;
width:86%;
}

.title {
margin:0px;
padding:0px;
height:40px;
text-align:left;
background-color: #85c6fd;
color:blue;
}


/* Entire pane */

#dhtmlgoodies_xpPane{
background-color:#7190e0;
float:left;
/*height:100%;*/
height:auto;
width:100%;
}
#dhtmlgoodies_xpPane .dhtmlgoodies_panel{
margin-left:10px;*margin-left:5px;
margin-right:10px;*margin-right:5px;
margin-top:10px;*margin-top:5px;
text-align:left;
}
#dhtmlgoodies_xpPane .panelContent{
font-size:0.7em;
background-image:url('../images/bg_pane_right.gif');
background-position:top right;
background-repeat:repeat-y;
border-left:1px solid #FFF;
border-bottom:1px solid #FFF;
padding-left:2px;
padding-right:2px;
overflow:hidden;
position:relative;
clear:both;
}
#dhtmlgoodies_xpPane .panelContent div{
position:relative;
}
#dhtmlgoodies_xpPane .dhtmlgoodies_panel .topBar{
background-image:url('../images/bg_panel_top_right.gif');
background-repeat:no-repeat;
background-position:top right;
height:25px;
padding-right:5px;
cursor:pointer;
overflow:hidden;

}
#dhtmlgoodies_xpPane .dhtmlgoodies_panel .topBar span{
line-height:25px;
vertical-align:middle;
font-family:arial;
font-size:0.7em;
color:#215DC6;
font-weight:bold;
float:left;
padding-left:5px;
}
#dhtmlgoodies_xpPane .dhtmlgoodies_panel .topBar img{
float:right;
cursor:pointer;
}
#otherContent{/* Normal text content */
float:left;/* Firefox - to avoid blank white space above panel */
padding-left:10px;/* A little space at the left */
}
